body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
/* reset */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
margin: 0;
padding: 0;
}
img {
    display: block;
    max-width: 100%;
} 
    a {
        text-decoration: none;
        
    }
    /* common */
        .container {
            max-width: 1158px;
            padding: 0 15px;
            margin: 0 auto;
        }
     .btn {
        background-color: #30c193;
     }